# File is main setting for run docker VirtualServer

# Settings for mysql connections
MYSQL_HOST=localhost
MYSQL_DATABASE=project_db
MYSQL_USER=project_user
MYSQL_PASSWORD=project_password
MYSQL_ROOT_PASSWORD=project_password

# It is unused. Just to remember
#ADMIN_LOGIN=login
#ADMIN_PASS=yourStrongPass

# Settings for docker run VirtualServer
DOCKER_PROJECT_PREFIX=project_
DOCKER_NGINX_PORT=80
DOCKER_SSL_PORT=443
DOCKER_MYSQL_PORT=3306
DOCKER_PHP_PORT=9000
#INTERFACE=0.0.0.0
#DOCKER_NETWORK_IP=10.100.3.10
#DOCKER_NETWORK_SUBNET=10.100.3.0/24

# Settings for login basic auth
PROJECT_BASIC_AUTH_LOGIN=login_auth
PROJECT_BASIC_AUTH_PASSWORD=password_auth

# Settings for git repo
PROJECT_NAME=project_name
PROJECT_GIT=git@gitl.domain.com:project_name/project_name.git

# Settings for download backup dump db - dump must be expansion only .sql.gz
PROJECT_DATABASE_PATH=http://dev.domain.com/upload/bitrix.dev.sql.gz
PROJECT_BACKUP_NAME_DB=bitrix.dev.sql.gz
