[mysqld]
federated=1
collation-server = utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server=utf8
default-time-zone="+03:00"
# Try to replace O_DIRECT by O_DSYNC if you have "Operating system error number 22"
innodb_flush_method=O_DSYNC
sql_mode=""
general_log=1
general_log_file="/var/log/mysql/mysql.log"
explicit_defaults_for_timestamp=1

[client]
default-character-set=utf8

[mysql]
default-character-set=utf8